<legend align="center"><%= Spree.t(:box_detail) %></legend>

<%= f.hidden_field :user_id, :name => "box[spree_user_id]", :value => try_spree_current_user.id%>

<div data-hook="admin_box_form_fields">
  <div data-hook="new_box_attrs" class="left twelve columns alpha">
    <div data-hook="admin_box_name">
      <%= f.field_container :name do %>
        <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br />
        <%= f.text_field :name, name: "box[name]", :class => 'fullwidth title', :required => true %>
        <%= f.error_message_on :name %>
      <% end %>
    </div>

    <div data-hook="admin_box_story">
    <%= f.field_container :story do %>
      <%= f.label :story, Spree.t(:story)%>
      <%= f.text_area :story, name: "box[story]", :class => 'fullwidth title', :rows => "10" %>
      <%= f.error_message_on :story %>
    <% end %>
    </div>
  </div>

  <div class="clear"></div>
</div>