<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_boxes_list), admin_boxes_url, :icon => 'arrow-left' %></li>
  <% if can?(:create, Bm::Box) %>
    <li id="new_box_link">
      <%= button_link_to Spree.t(:new_box), new_admin_box_url, {:icon => 'plus', :id => 'admin_new_box' } %>
    </li>
  <% end %>
<% end %>

<%= render :partial => 'spree/admin/shared/box_sub_menu' %>

<%= render :partial => 'spree/admin/shared/box_tabs', :locals => {:current => 'Box Details'}%>

<%= render partial: "add_dish"%>

<%= render partial: "dishes"%>

<% if @box.products.count == 0 %>
  <div class="no-objects-found">
    <%= Spree.t(:your_box_is_empty)%>
  </div>
<% end %>

<%= form_for @box, method: :put, url: admin_box_url(@box), :html => { :multipart => true, :id => "new_admin_box" } do |f| %>

  <fieldset data-hook="new_box">

    <%= render partial: "form", :locals => { :f => f } %>

    <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button Spree.t('actions.update'), 'ok' %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= link_to_with_icon 'remove', Spree.t('actions.cancel'), admin_box_url, :class => 'button' %>
    </div>
  </fieldset>
<% end %>

<div class="clear"></div>